# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
site/

# Cache
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/

# Environments
.env
.venv/
venv/

# Build docs
/src/array_api_typing/_version.py

# Mac files
.DS_Store

# Coverage
.coverage
